[submodule "packages/evm-contracts/lib/forge-std"]
	path = packages/evm-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/evm-contracts/lib/openzeppelin-contracts"]
	path = packages/evm-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/evm-contracts/lib/solady"]
	path = packages/evm-contracts/lib/solady
	url = https://github.com/vectorized/solady
